# npm
node_modules
*.log
.eslintcache

# elm
elm-stuff
repl-temp-*

# app
dist

# haskell
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.virtualenv
.hpc
.hsenv
.cabal-sandbox/
.stack-work/
cabal.sandbox.config
*.prof
*.aux
*.hp

# emacs
.#*
*~
*.dump-hi
